@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  height: 100%;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.category-input-container {
  position: relative;
  cursor: pointer;
  width: 288px;
  border: 1px solid #e4e3eb;
  background-color: #fcfcfd;
  transition: border 0.3s;
}

.category-input-container:hover {
  border: 1px solid #5d37f3;
  border-width: 1.5px;
}

@layer base {
  html {
    font-family: "FiraGO", sans-serif;
    font-family: "ALK Life", sans-serif;
    font-family: "BPG Mikheil Stefane", sans-serif;
  }
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
  display: none;
}

input[type="file"] {
  color: transparent !important;
}

input[type="file"]::before {
  content: "აირჩიეთ ფაილი";
  color: black;
  text-decoration: underline;
  cursor: pointer;
}
*/ .slick-slide {
  max-width: 450px;
}
